.postSection{
    width: 100%;
    padding: 100px 0;
}

.postform,.editForm{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 19px;
    background-color: rgb(33, 32, 32);
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
}

.editForm{
    width: 100%;
   
}
.postform input {
    padding: 5px;
    border-radius: 5px;
}
.postSection button {
    background-color: #51d7aa;
    border-radius: 5px;
    color: #363434;
    font-weight: 500;
    padding: 5px;
}


@media screen and (min-device-width:310px) and (max-device-width: 481px)
{
    .postform,.editForm{
        width: 90%;
        margin-left: 40px;
    }
}

@media screen and (min-device-width:482px) and (max-device-width: 576px)
{
    .postform,.editForm{
        width: 90%;
        margin-left: 40px;
    }
    
}

@media screen and (min-device-width:577px) and (max-device-width: 767px)
{
    .postform,.editForm{
        width: 70%;
        margin-left: 40px;
    }
}