.UserpostSection{
    width: 96%;
    padding: 40px 20px;
 display: grid;
float: right;
grid-template-columns: repeat(3,1fr);


/* column-count: 3; */
gap: 10px;
}

.UserpostSection div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media screen and (min-device-width:310px) and (max-device-width: 481px)
{
    .UserpostSection{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-device-width:482px) and (max-device-width: 576px)
{
    .UserpostSection{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-device-width:577px) and (max-device-width: 767px)
{
    .UserpostSection{
        grid-template-columns: repeat(2,1fr);
    }
}